
/*----------------------------
 * Change checkbox to Swip
 *---------------------------- */

input.onoffswitch-checkbox:empty
{
	margin-left: -999px;
	position: absolute;
}

input.onoffswitch-checkbox:empty ~ label span.onoffswitch {
	height: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	width: 90px;
	overflow: hidden;
	display: inherit;
	position: absolute;
	text-indent: 0;
	border-radius: 2px;
}

input.onoffswitch-checkbox:empty ~ label.onoffswitch-label {
display: block;
cursor: pointer;
position: relative;
height: 30px;
text-indent: 7em;
@include font-size($size-base, 1);
margin: 2px 5px 2px 0;
clear: both;
}
input.onoffswitch-checkbox:empty ~ label span.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
input.onoffswitch-checkbox:empty ~ label span.onoffswitch-inner:before, input.onoffswitch-checkbox:empty ~ label span.onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0;
    color: $fields-fff; font-family: $font-base ; font-weight: bold;

}
input.onoffswitch-checkbox:empty ~ label span.onoffswitch-inner:before {
    content: "TAK";
    padding-left: 10px;
    background-color: $fields-color; color: $fields-fff;
}
input.onoffswitch-checkbox:empty ~ label span.onoffswitch-inner:after {
    content: "NIE";
    padding-right: 10px;
    background-color: $fields-border; color: $fields-color;
    text-align: right;
}
input.onoffswitch-checkbox:empty ~ label span.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: $fields-fff;
    border: 2px solid $fields-border;
    border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
input.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
input.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/*----------------------------
 * Radiobox & Checkbox
 *---------------------------- */
.checkbox-wpg span.checkbox-continer {
min-height:25px;
display: inline-block;
position: relative;
padding-top:5px;
padding-left:35px;
margin-right:15px;
cursor:pointer;
}

.checkbox-wpg input {
position:absolute;
top:0;
left:0;
width:25px;
height:25px;
z-index: 2;
cursor:pointer;
padding:0;
margin:0;
opacity: 0;
}
.checkbox-wpg input ~ span {
/* label */
font-weight:300;
font-size:0.9em;
}
.checkbox-wpg .state {
vertical-align: top;
border:1px solid $fields-border;
background: $fields-bg;
border-radius:2px;
width:25px;
height:25px;
z-index: 1;
position:absolute;
top:0;
left:0;
display: inline-block;
box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
}
.checkbox-wpg input[type=radio] + .state {
border-radius:50%;
}
.checkbox-wpg .state:before {
width:7px;
height:3px;
display: block;
content:'';
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform: rotate(45deg);
transform:rotate(45deg);
-webkit-transition: 0.3s background;
-moz-transition: 0.3s background;
-o-transition: 0.3s background;
-ms-transition: 0.3s background;
transition: 0.3s background;
position: absolute;
top:13px;
left:6px;
}
.checkbox-wpg .state:after {
width:10px;
height:3px;
display: block;
content:'';
-moz-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg);
-webkit-transition: 0.3s background;
-moz-transition: 0.3s background;
-o-transition: 0.3s background;
-ms-transition: 0.3s background;
transition: 0.3s background;
position: absolute;
top:12px;
left:9px;
}
.checkbox-wpg .state:before,
.checkbox-wpg .state:after {
background: #eee;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
-ms-transition: 0.3s;
transition: 0.3s;
}
.checkbox-wpg input:checked + .state:before,
.checkbox-wpg input:checked + .state:after {
background: $fields-color;
}
.checkbox-wpg input:disabled + .state {
background: $fields-bg;
box-shadow:none;
border:1px solid $fields-border;
}
.checkbox-wpg input:disabled ~ span {
cursor:not-allowed !important;
}



/*----------------------------
 * Search Form
 *---------------------------- */
.searchform {
	width: 100%;
	position: relative;

	.field {
		width: 100%;
		padding-right: 30px;
		min-width: 100px;
	}
	.submit {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		background: transparent;
		border: 0;
	}
	button {
		display: inline-block;
  padding: 0 5px;
  min-width: 20px;
  border: 0;
  height: auto;
  cursor: pointer;

	}
	.submit i {
		@include font-size(2.5);
	}
}

/*----------------------------
 * Base - button, input, select, textarea
 *---------------------------- */

button,
input,
select,
textarea {
	@include font-size($size-base);
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	outline: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: $outline;
}



fieldset {
border: 1px solid scale-lightness($fields-border, 70%);
padding: 15px;
}

legend {
font-weight: bold;
@include font-size($size-big);
color: $fields-text;
border: 1px solid $fields-border;
padding: 19px 30px;
}


form {

	margin: 20px 0;

	p {
		margin-bottom: 0.5em;
	}
	/* textarea */

	textarea, input[type=text], input[type=datetime], input[type=number],input[type=password], input[type=url], input[type=email]{
	max-width:100%;
	min-width:250px;
	padding: 6px 12px;
	color: $fields-text;
	background-color: $fields-bg;
	background-image: none;
	border: 1px solid $border-color;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
	@include font-size($size-base);
	}

	textarea, input[type=text] {
		&:focus {
			border-color: $fields-active;
		}
	}


	/* Input file */
	input[type=file] {
	padding: 6px 12px;
	color: $fields-text;
	background-color: $fields-bg;
	background-image: none;
	border: 1px solid $fields-border;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
	@include font-size($size-base);
	}

	input[type=file]::-ms-value 							{border:0; background: none;}
	input[type=file]::-ms-browse 							{border: 1px solid $fields-border; color: $fields-fff; background-color: $fields-color; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; padding: 2px 20px;	}
	input[type=file]::-webkit-file-upload-button 			{border: 1px solid $fields-border; color: $fields-fff; background-color: $fields-color; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; padding: 2px 20px; }
	input[type=file] > input[type=button]::-moz-focus-inner {border: 1px solid $fields-border; color: $fields-fff; background-color: $fields-color; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; padding: 2px 20px; }

	/* Input submit, button, reset */
	input[type=submit], input[type=button], button, input[type="reset"] {
	display: inline-block;
	padding: 0 20px;
	min-width: 100px;
	border: 1px solid $fields-border;
	height: 40px;
	cursor: pointer;
	color: $fields-fff;
	background-color: $fields-color;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	}

	/* select with graphic */
	select {
	    background: $fields-bg;
	    max-width:100%;
	    min-width:250px;
	    border:1px solid $fields-border;
	    border-radius:2px;
	    padding:10px 40px 10px 10px;
	    box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	    -moz-box-sizing:border-box;
	    -webkit-box-sizing:border-box;
	    box-sizing:border-box;
	    position: relative;
	    z-index: 2;
	    cursor: pointer;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    apperance:none;
	    text-indent: 0.01px;
	    text-overflow: "";
	    background-image:url(#{$img-path}select-arrow.png);
	    background-position:right center;
	    background-repeat: no-repeat;
	    background-size:40px 40px;
	}
	select::-ms-expand {
	    display: none;
	}
	.ie9 select,
	.lt-ie9 select {
	    background-image: none;
	    padding-right:10px;
	}
}
