a.skip-main 		{left: -999em; position:absolute; z-index:-999; color: $wcag-herf;}
a.skip-main:focus,
a.skip-main:active 	{position: relative; top: 10px; width: 30%; height: auto; overflow: hidden; margin: 5px 35%; padding: 5px; border-radius: 10px; border: 4px solid yellow; text-align: center; font-size: 1.2em; background-color: $wcag-bg; display: block; z-index:999; left: auto;}

/* Text meant only for screen readers */
.screen-reader-text, .screen-reader 			{position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); padding:0 !important; border:0 !important; height: 1px !important; width: 1px !important; overflow: hidden; margin: 0 !important;}