/*----------------------------------
 * feturad-fr
 *---------------------------------- */

.feturad-fr {
    > div {
        position: relative;
        height: 675px;
        clear: both;
        width: 100%;
        padding-left: 2.08333%;
        padding-right: 2.08333%;
        padding-top:10px;
        padding-bottom:10px;
        margin: auto;

 }
    .item-home {
    height: 317.5px;
    width: 317.5px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    > a {
    width: 100%;
    height: 100%;
    z-index: 15;
    position: absolute;
    text-indent: -9999px;
    display: block;
 }
 }
    .item {
    height: 308px;
    width: 308px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 50%;;
    transform-origin: top left;
    transition-property:  transform, margin, top, height, width;
    transition-duration: 1s;
    transition-delay: 10ms;
    
    img {
    	max-width: none;
    }


    > a {
    width: 100%;
    height: 100%;
    z-index: 15;
    position: absolute;
    text-indent: -9999px;
    display: block;
 }
 }




        .item_1 { top:0; margin-left: -318px; width: 154px; height: 154px; }
        .item_2 { top:0; margin-left: -154px;}
        .item_3 { top:102px; margin-left:  164px; width: 206px; height: 206px;}
        .item_4 { top:164px; margin-left: -472px;}
        .item_5 { top:318px; margin-left: -154px; width: 206px; height: 206px;}
        .item_6 { top:318px; margin-left: 62px; }
        .item_7 { top:318px; margin-left: 379px; width: 154px; height: 154px;}
        .item_home {}

        .base1 {
        .item_1 { top:0;     margin-left: -472px;   height: 308px;     width: 308px;}
        .item_2 { top:102px; margin-left: -154px;   width: 206px; height: 206px;}
        .item_3 { top:102px; margin-left:  62px;    width: 206px; height: 206px;}
        .item_4 { top:318px; margin-left: -370px;   width: 206px; height: 206px;}
        .item_5 { top:318px; margin-left: -154px;   width: 154px; height: 154px;}
        .item_6 { top:318px; margin-left: 10px;     width: 154px; height: 154px;}
        .item_7 { top:318px; margin-left: 174px;    width: 154px; height: 154px;}
        .item_home {}
        }
        .base2 {
        .item_1 { top:0; margin-left: -318px;       width: 154px; height: 154px;}
        .item_2 { top:0; margin-left: -154px;   height: 308px;     width: 308px;}
        .item_3 { top:102px; margin-left:  164px;   width: 206px; height: 206px;}
        .item_4 { top:164px; margin-left: -370px;   width: 206px; height: 206px;}
        .item_5 { top:318px; margin-left: -154px;   width: 206px; height: 206px;}
        .item_6 { top:318px; margin-left: 62px;     width: 154px; height: 154px;}
        .item_7 { top:318px; margin-left: 226px;    width: 154px; height: 154px;}
        .item_home {}
        }
        .base3 {
        .item_1 { top:102px; margin-left: -268px;   width: 206px; height: 206px;}
        .item_2 { top:102px; margin-left: -52px;    width: 206px; height: 206px;}
        .item_3 { top:0;     margin-left:  164px;   width: 308px; height: 308px;}
        .item_4 { top:318px; margin-left: -165px;   width: 154px; height: 154px;}
        .item_5 { top:318px; margin-left: -1px;     width: 206px; height: 206px;}
        .item_6 { top:318px; margin-left: 215px;    width: 154px; height: 154px;}
        .item_7 { top:318px; margin-left: 379px;    width: 154px; height: 154px;}
        .item_home {}
        }
        .base4 {
        .item_1 { top:0; margin-left: -318px;       width: 154px; height: 154px;}
        .item_2 { top:102px; margin-left: -154px;   width: 206px; height: 206px;}
        .item_3 { top:154px; margin-left:  62px;    width: 154px; height: 154px;}
        .item_4 { top:164px; margin-left: -472px;   width: 308px; height: 308px;}
        .item_5 { top:318px; margin-left: -154px;   width: 154px; height: 154px;}
        .item_6 { top:318px; margin-left: 10px;     width: 154px; height: 154px;}
        .item_7 { top:318px; margin-left: 174px;    width: 206px; height: 206px;}
        .item_home {}
        }
        .base5 {
        .item_1 { top:0;         margin-left: -318px;   width: 154px; height: 154px;}
        .item_2 { top: 102px;    margin-left: -154px;   height: 206px;    width: 206px;}
        .item_3 { top: 102px;    margin-left: 62px;     width: 206px;    height: 206px;}
        .item_4 { top: 164px;    margin-left: -370px;   height: 206px;    width: 206px;}
        .item_5 { top: 318px;    margin-left: -154px;   width: 308px; height: 308px;      }
        .item_6 { top: 318px;    margin-left: 164px;    height: 154px;    width: 154px;}
        .item_7 { top: 318px;    margin-left: 328px;    width: 154px;    height: 154px;}
        .item_home {}
        }
        .base6 {
        .item_1 { top:0;       margin-left: -318px;     width: 154px;   height: 154px;}
        .item_2 { top:102px;  margin-left: -154px;     height: 206px;  width: 206px;}
        .item_3 { top:102px;  margin-left: 62px;       width: 206px;   height: 206px;}
        .item_4 { top:164px;  margin-left: -370px;     height: 206px;  width: 206px; }
        .item_5 { top:318px;   margin-left: -154px;     width: 206px;   height: 206px;}
        .item_6 { top:318px;   margin-left: 62px;      width: 308px; height: 308px;                               }
        .item_7 { top:318px;   margin-left: 379px;      width: 154px;   height: 154px;}
        .item_home {}
        }
        .base7 {
        .item_1 { top:0;      margin-left: -318px;  width: 154px;   height: 154px;}
        .item_2 { top: 102px; margin-left: -154px;  height: 206px;  width: 206px; }
        .item_3 { top: 102px; margin-left: 62px;    width: 206px;   height: 206px;}
        .item_4 { top: 164px; margin-left: -370px;  height: 206px;  width: 206px;}
        .item_5 { top: 318px; margin-left: -154px;  width: 154px;   height: 154px;}
        .item_6 { top: 318px; margin-left: 10px;    width: 154px;   height: 154px;}
        .item_7 { top: 318px; margin-left: 174px; width: 308px; height: 308px;}
        .item_home {}
        }
}