/*----------------------------------
 * feturad-box
 *---------------------------------- */
.feturad-box {
	clear: both;
	margin-bottom: 25px;

		.feturad-image {
			position: relative;
			width: 100%;
			margin-bottom: 20px;
			overflow: hidden;

			a:hover > .text-title-overlay {

			}

		}

		.feturad-image img {
			max-width: 100%;
			min-width: 100%;
			display: block;


		}

		.overlay {
		  background-color: rgba(0, 0, 0, 0.4);
		  overflow: hidden;
		  height: 100%;
		  left: 0;
		  opacity: 1;
		  position: absolute;
		  top: 0;
		  transition: all 0.5s ease 0s;
		  width: 100%;
		  text-align: center;
		}
		.overlay i {
          color: $four-bw;
		  @include font-size(4.8);
		  display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -2.4rem;
          margin-left: -2.4rem;

		}
		.text-overlay {
            background: $four-bw;
			position: absolute;
		    height: 1%;
		    width: 100%;
		    bottom: 18%;
		    left: 0;
		}
		.text-title-overlay {
		    display: block;
		    position: absolute;
		    width: 50%;
		    height: 25%;
		    bottom: 6%;
		    left: 25%;
		    text-align: center;
            border: 1px solid $four-bw;
            @include font-size($size-base);
            font-weight: bold;


            > p {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                margin: 0;
           }
		}
		.box-image {
			overflow: hidden;
		}

		.box-icon, .box-content, .box-image {
 			display: block;
  			text-align: center;
  			margin:  20px 0;



  			a {
  				color: $two-color;
  			}
  			p {color: scale-lightness($one-bw, 50%);}

		}


	.wrapper-double-rotated {
		.box-icon, .box-content {
			margin:  55px 0;
		}

		.icon-wrapper {
				-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);


		}
		.icon-wrapper i {
				  -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);
		}

		.icon-wrapper:before {
		  left: -15px;
		  right: 0;
		  top: 0;
		  bottom: -15px;
		  position: absolute;
		  content: "";
		  display: inline-block;
		  vertical-align: middle;
		  border: 1px solid transparent;
		  border-color: inherit;
		  z-index: 0;
		}
		.icon-wrapper:after {
		  left: 0;
		  right: -15px;
		  top: -15px;
		  bottom: 0;
		   position: absolute;
		  content: "";
		  display: inline-block;
		  vertical-align: middle;
		  border: 1px solid transparent;
		  border-color: inherit;
		  z-index: 0;
		}
	}

	.small-border {
		display: block;
		height: 1px;
		width: 70%;
		background-color: scale-lightness($one-bw, 50%);
		margin: 0 auto;
	}

	.wrapper-radius {
		.icon-wrapper {
			@include border-radius(50%);
		}
		.box-image {
		  	border-radius: 50%;
	  		width: 140px;
	  		overflow: hidden;
	  		height: 140px;
	  		margin: 20px auto;

	  		img {
	  			    max-width: 150%;
    				margin-left: -25%;
	  		}
	 	}
	}


	.icon-wrapper {
		display: inline-block;
		vertical-align: top;
		width: 140px;
		height: 140px;
		line-height: 130px;

		position: relative;
		text-align: center;
		border: 1px solid transparent;
		border-color: inherit;
		z-index: 0;
		-webkit-transition: background .4s;
		transition: background .4s;
	}
	.icon-wrapper i {
		position: relative;
		z-index: 1;
		display: inline-block;
		vertical-align: middle;
		@include font-size(5.3);

	}


	.icon-wrapper:hover {
		background: $two-color;

		i {
			color: invert($one-bw);
		}
	}


	.box-text-header {
		    margin-top: 10px;
    		padding-top: 10px;

		.icon-text-wrapper {
			float:left;
			width: span(1 of 3);
			padding-right: 25px;
			text-align: right;

			i {
				@include font-size(6.2);
			}
		}

		h3 {
			display: block;;
			@include span (2 of 3 no-gutters)
		}
	}

	.box-text-content {
			padding: 10px;
    	&.right {
    		text-align: right;
    	}

		p {
			color: scale-lightness($one-bw, 50%);
			margin-top: 0;
			text-align: left;
		}
	}
	.more{}
}

/*----------------------------------
 *  Breakpoint
 * ---------------------------------*/
@include breakpoint($small) {
	
	.feturad-box {
		.box-text-header {
				border-top: 1px solid $border-color;
	    		border-left: 1px solid $border-color;
	    		border-right: 1px solid $border-color;
		}
		.box-text-content {
			    border-bottom: 1px solid $border-color;
	    		border-left: 1px solid $border-color;
	    		border-right: 1px solid $border-color;
	    		text-align: center;
	    	&.right {
	    		text-align: center;
	    	}
	    	p {
			text-align: center;
			}
		}

	}	
	
}






