.tabs 										{width:100%; margin-bottom:30px;}
.tabs .tab 									{display: block; position:relative; padding:10px; clear:both; border-top: 1px solid #eee; border-bottom: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee;}
.ui-tabs .ui-tabs-nav 						{list-style: none; position: relative; margin:0; padding:0; @include font-size(1.8); }
.ui-tabs .ui-tabs-nav li 					{position: relative; float: left; margin:0 5px -1px 5px; padding:0; border-top: 1px solid #eee; border-bottom: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee; padding: 10px; text-align:center; display:block; z-index: 9999;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active 	{border-bottom: 1px solid $four-bw;}
.ui-tabs .ui-tabs-nav li.first 				{margin:0 5px -1px 0px;}

@include breakpoint($small) {
	.ui-tabs .ui-tabs-nav li 					{float: none; margin:0 ;}

	.ui-tabs .ui-tabs-nav li.first 				{margin:0;}

	
}